* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#main-app-bar {
  margin-bottom: 20px;
}
#appContent {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}
#repo-card {
  margin-top: 20px;
  margin-bottom: 30px;
}
